<?xml version="1.0" ?>
<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="{DNS}/Scripts/jquery-2.1.1.js"></script>
    <script src="{DNS}/Scripts/Begin.js"></script>
    <script>
        var Domain = "{DNS}";
        $(document).ready(function ()
        {
            var mTimeout = setTimeout('reload()', {RedirectDelay});
        });

        function reload()
        {
            window.location.href = "{NotConfirmLink}";
        }

    </script>
</head>
<body>
    <img src="{ConfirmLink}" />
</body>

</html>
