<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="GetMSISDN_Securepass_VNP" value="Zonevui#1234"/>
    <add key="GetMSISDN_Servicename_VNP" value="ZONEVUI"/>
    <add key="GetMSISDN_URL_VNP" value="http://10.1.10.47/mim1step/getmsisdn"/>

    <!--Domain của wapsite-->
    <add key="Domain" value="http://localhost:8082/Advertise_Wap"/>

    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BxMp0AI0K8HNIksCXhqoAsKOpb+6I1dPqRamyg/MfbkJ3zCHGNqiHSGbaKvhF/e7Vw==" />
  </appSettings>
  <connectionStrings>
    
    <!--<add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhUezMQX1wSZWBNwWFrNCZCh0gmL5TY7qmvhYByC8PrwLiagPvVHg7r81xd10ZSLYtMyV+WjY9ugZuJnhPlFlnvngS5U8mR+9sTIw8xfNKJTF9SMnluPg45KNG1qgMUYXF+RhafjngYPKon0WdrhJegrima+dC9n+scv8V/wO6rlQ="/>-->

    <!--Host-->
    <add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/uebdxCUA3L4j0juQHfQFTP/BkjDo68/o+KOIzNofjk19rb3Y8fCrpx2oNz3mgs3QXBpbNce211xxyApJq+sgZHIQo3JBFdOTcdMBl/PwhLFGxwQtkxTXvXVmL19n20YZ5E9xHTX4yIRE9ow+bqCdCKTdQs+PnPzhGDOYdqnSJTvgJ4FVYIs7AQpJVV0yX0PKV1o="/>
    
    <add name="SQLConnection_SportMillion" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhsb1vyow/ERqCSJPVSdFTZQiHdi0u4sJAbNL2sB0rbQRyARH4CjXjFgSvI93CFwH/WRheQ3YUiFMM+RD913CUoeE9egsgM0Glbp7qFqgTRSu2erpeFJCT4fnY6in8URhBInfdekh5VdX9qwJRaVOdIehNp0CtzP44oPKAKXquv7c="/>

    <add name="SQLConnection_MTraffic" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh/dxwXV21KlQWJrrHeMaKks32kE/k6zbki+NJyy4m38y1mRrGCpVwJnJGEfJJ+Z5LnlQo/wzvsA9nx4At+2IDfBPfg+pHGXxyuqeKc5e7t9i13RW6lmBXz4U9csmsYJppsyfWNFtBkkR9NDHKa6bfIlhCbtbDQPI6aux6Jxdj4ZA="/>

    <add name="SQLConnection_FamousMan" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh0LNdUU4AkXtKmEcqSy9VzGlzAgPXwlnkt4c90CgT8Nc4ey+qD/VCNFiL+4TvqgMlmi6k8zOzuGH0wkXC1Ag3IvRaxhZ/nqbW8HmEvZjqf+VFikn9tTue1fhw2EcQ495ZxR7vzv0KzgVmDCIXBjyD4+vuCAskETeAgcYgJv30sN4="/>
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <add name="MyASHXBase" path="*.html" verb="GET,HEAD,POST,DEBUG" type="MyBase.MyWap.MyWapBase" resourceType="Unspecified" preCondition="integratedMode"/>

    </handlers>
  </system.webServer>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="rule_100" virtualUrl="^~/MobileAdv.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Adv/MobileAdv.ashx" ignoreCase="true"/>
      <add name="rule_101" virtualUrl="^~/Redirect.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Adv/Redirect.ashx" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>