<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="DisableCheckIP" value="false"/>
    <add key="MemberGroupID_Admin" value="1" />
    <add key="URLNotLoginFail" value="../Admin/Ad_Login.aspx" />
    <add key="URLLogin" value="../Admin/Ad_Login.aspx" />
    <add key="URLLoginSuccess" value="../Admin/Ad_Default.aspx" />
    <add key="URLNotice" value="../Admin/Ad_Alert.aspx" />
    <add key="LongDateFormat" value="dd/MM/yyyy - HH:mm:ss" />
    <add key="LongDateFormatBR" value="dd/MM/yyyy &lt;br/&gt; HH:mm:ss"/>
    <add key="ShortDateFormat" value="dd/MM/yyyy" />
    <add key="cuteEditor_UploadNews" value="/u/news" />

    <add key="DoubleFormat" value="N"/>
    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BxMp0AI0K8HNIksCXhqoAsKOpb+6I1dPqRamyg/MfbkJ3zCHGNqiHSGbaKvhF/e7Vw==" />
    <!-- Upload Image config default !-->
    <add key="UI_Thumb" value="false"/>
    <add key="UI_GeneralFN" value="false"/>
    <add key="UI_Path" value="~/u/img"/>
    <add key="UI_Extension" value=".png|.gif|.jpg|.jpeg"/>
    <add key="UI_MaxSize" value="10240"/>
    <add key="UI_WH_Thumb" value="90x60"/>

    <!-- Cấu hình upload Image cho member !-->
    <add key="Member_UI_Path" value="~/u/mi/"/>
    <add key="Member_UI_MaxSize" value="100"/>
    <!-- Cấu hình upload Image cho Menu !-->
    <add key="Menu_UI_Path" value="~/u/menui/"/>
    <add key="Menu_UI_MaxSize" value="100"/>
 
    <!-- Cấu hình mặc định cho upload file (UF) !-->
    <add key="UF_MaxSize" value="10240"/>
    <add key="UF_Path" value="~/u/uf/"/>
    <add key="UF_Extension" value=""/>
    <!--Cho phép tạo file name không trùng lặp-->
    <add key="UF_GeneralFN" value="true"/>

  </appSettings>
  <connectionStrings>
    <remove name="strConnection"/>
    <!--<add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh/dxwXV21KlQWJrrHeMaKks32kE/k6zbki+NJyy4m38y1mRrGCpVwJnJGEfJJ+Z5LnlQo/wzvsA9nx4At+2IDfBPfg+pHGXxyuqeKc5e7t9i13RW6lmBXz4U9csmsYJppsyfWNFtBkkR9NDHKa6bfIlhCbtbDQPI6aux6Jxdj4ZA="/>-->

    <!--Mtraffic-->
    <!--<add name="strConnection_Mtraffic" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzoIVkOBaiUYgmVXxcD23LlzcVgln0fOcEM3QuAl7wTWkwfVYraWBNozKHaDVcHKwZd01MIvTxMjsIGEJBW7Z0Mb7UlBg4ot4b746huLtUeDsli/TeghiXf3gGHCD0EUngmRXNv1FyBO3FmiIFtIYmE5zFKM1OMpkcJbL/aXkorrE6EsWQTm7Cj7WT0i+qc8RK6AT9idfzZjeE9Lj9heL48M="/>-->
    <!--<add name="SQLConnection_SportMillion" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhsb1vyow/ERqCSJPVSdFTZQiHdi0u4sJAbNL2sB0rbQRyARH4CjXjFgSvI93CFwH/WRheQ3YUiFMM+RD913CUoeE9egsgM0Glbp7qFqgTRSu2erpeFJCT4fnY6in8URhBInfdekh5VdX9qwJRaVOdIehNp0CtzP44oPKAKXquv7c="/>-->
    
    <add name="MySQLConnection_GPC" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>
    <add name="MySQLConnection_Viettel" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>
    <add name="MySQLConnection_VMS" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>
    <add name="MySQLConnection_VietNamMobile" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>

    <!--Host-->
    <add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/uebdxCUA3L4j0juQHfQFTP/BkjDo68/o+KOIzNofjk19rb3Y8fCrpx2oNz3mgs3QXBpbNce211xxyApJq+sgZHIQo3JBFdOTcdMBl/PwhLFGxwQtkxTXvXVmL19n20YZ5E9xHTX4yIRE9ow+bqCdCKTdQs+PnPzhGDOYdqnSJTvgJ4FVYIs7AQpJVV0yX0PKV1o="/>

    <add name="SQLConnection_Mtraffic" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueaEcIvw1mG3NdOH7FkuZFKmhEQGKb1+Nyhq+dDPff3tAIGStIO47hjoVnOM59Ae9skUPVB5u0QI5DTT9ypUPlBhLNCLhszyiaEyzXwatcqx/DU1yRgF0kb0b5F3D+JmRyYKHkIdt8BXtVoWLnVtRf2Errh6A4I3Y2lMBwy4P1tgXreq0KWHNDiE8IZAT/3qLcw="/>
    <add name="SQLConnection_SportMillion" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
    <add name="SQLConnection_FamousMan" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueakDsYcnqZlBgspUBayMttyIqcrwLtYeuh/bj0VpXORGxp0EnpIpLb58obyDUOUc3XRkkkaSGbSC59O0Pdm0yDOfq+5riO4wBrtgdb0RY0CMQluhZ45RcL2I41J3coCOFEj/bZxLWflXJoPTxQ5kmgb52wgsjkGGdcwppEID+ylQ1skeGO5LUPebTG/8gqjRbU="/>
    
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="AjaxHander" path="*.ajax" verb="GET,HEAD,POST,DEBUG" type="MyAjax.MyAjaxHander"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600">
          <headerLimits>
            <add header="Content-type" sizeLimit="100"/>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    
  </system.webServer>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="false"  />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"></customErrors>
    
    <httpRuntime maxRequestLength="100000"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages buffer="true" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>



  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile/Log" />
      <datePattern value="'.'ddMMyyyy.vai" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %thread | %level | %logger | %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile/Error" />
      <datePattern value="'.'ddMMyyyy.vai" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %thread | %level | %logger  %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ErrorsFileAppender" />
    </root>

  </log4net>
</configuration>
